<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Guess the Number: Game</title>
</head>
<body>
    <div align="center">
        <h1 th:text="${__${T(com.udemy.learnprogramming.util.AttributeNames).RESULT_MESSAGE}__}">Result message content</h1>
        <h2><a  th:href="@{__${T(com.udemy.learnprogramming.util.GameMappings).RESTART}__}">Play again</a></h2>
        <h3><a  th:href="@{__${T(com.udemy.learnprogramming.util.GameMappings).HOME}__}" th:text="Home"></a></h3>
    </div>

    <footer th:replace="~{fragments/footer :: footerFragment}">
        <p>Created by an awesome person</p>
    </footer>

</body>
</html>