<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Blablafuk</title>
</head>
<body>
<div align="center">
    <h1>Welcome to the Number Guessing Game</h1>
    <a>Click </a>
    <a th:href="@{__${T(com.udemy.learnprogramming.util.GameMappings).PLAY}__}"
       th:text="here"
       href="play.html"></a>
    <a> to play</a>
</div>
    <footer th:replace="~{fragments/footer :: footerFragment}">
        <p>Created by an awesome person</p>
    </footer>
</body>
</html>